<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- suite name="Suite">  -->
	<suite name="Suite" parallel="classes">
	<test thread-count="2" name="Test" parallel="classes">
	<!-- test name="Test">  -->
		<classes>
			<class name="com.shiv.poojan.RestAPITest.TestNGRunner2"></class>
			<class name="com.shiv.poojan.RestAPITest.TestNGRunner"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
